<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/configuracion/dashboardconfi.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/path/to/date-and-time.min.js"></script>
    <script src="/js/accionesAdministrador.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <title>Página de panel de Administración</title>
</head>

<body>
    <input type="checkbox" id="checkbox">
    <header class="header">
        <h2 class="u-name">Administradores<b>SonidoShorty</b>
            <label for="checkbox">
                <i id="navbar" class="fa fa-bars" aria-hidden="true"></i>
            </label>
        </h2>
    </header>
    <div class="body">
        <nav class="side-bar-left">
            <div class="user-p">
                <img src="/recursos/LOGOTIPO2.5.png" alt="" class="perfil">
            </div>
            <ul>
                <li>
                    <a href="/indexperfils">
                        <i class="fa fa-user"></i>
                        <span>Perfil</span>
                    </a>
                </li>
                <li>
                    <a href="/indexconfig">
                        <i class="fa fa-cog"></i>
                        <span>Configuración</span>
                    </a>
                </li>
                <!-- Usuarios -->
                <li>
                    <a href="/indexadmin">
                        <i class="fa fa-table"></i>
                        <span>Usuarios</span>
                    </a>
                </li>
                <li>
                    <a href="/indexEventos">
                        <i class="fa fa-table"></i>
                        <span>Eventos</span>
                    </a>
                </li>
                <li>
                    <a href="/indexComentarios">
                        <i class="fa fa-table"></i>
                        <span>Comentarios</span>
                    </a>
                </li>
                <li>
                    <a href="/indexCalificaciones">
                        <i class="fa fa-table"></i>
                        <span>Calificaciones</span>
                    </a>
                </li>
                <li>
                    <a href="/logout">
                        <i class="fa fa-power-off"></i>
                        <span>Salir</span>
                    </a>
                </li>
            </ul>
        </nav>
        <section class="seccion-perfil-usuario">
            <div class="perfil-usuario-header">
                <div class="perfil-usuario-portada">
                    <div class="perfil-usuario-avatar">
                        <img src="/recursos/usuario.png" alt="img-avatar">
                    </div>
                </div>
            </div>

            <div class="formulario">

                <div class="container">
                    <h2>¡Cambia tus datos o elimina tu cuenta!</h2>
                    <form id="actualizarEliminadAdmin" method="POST">
                        <div class="form-group">
                            <label for="nombre">Nombre:</label>
                            <input type="text" id="nombre" name="nombre" value="<%= nombre %>" readonly>
                        </div>
                        <div class="form-group">
                            <label for="apellidos">Apellidos:</label>
                            <input type="text" id="apellidos" name="apellidos" value="<%= apellidos %>" readonly>
                        </div>
                        <div class="form-group">
                            <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
                            <input type="text" id="fecha_nacimiento" name="fecha_nacimiento"
                                value="<%= fechanacimiento.getDate() %>/<%= fechanacimiento.getMonth() + 1 %>/<%= fechanacimiento.getFullYear() %>"
                                readonly>
                        </div>
                        <div class="form-group">
                            <label for="edad">Edad:</label>
                            <input type="text" id="edad" name="edad" value="<%= edad %>" readonly>
                        </div>
                        <div class="form-group">
                            <label for="correo">Correo:</label>
                            <input type="email" id="correo" name="correo" value="<%= correo %>" required>
                        </div>

                        <div class="form-group">
                            <label for="telefono">Teléfono:</label>
                            <input type="tel" id="telefono" name="telefono" value="<%= num_tel %>" required>
                        </div>
                        <div class="form-group">
                            <label for="contraseña">Contraseña:</label>
                            <input type="password" id="contraseña" name="contraseña" value="<%= contrasena %>" required>
                        </div>
                        <div class="button-group">
                            <input type="button" class="submitBtn" onclick="actualizarAdministrador()"
                                value="Actualizar">
                            <input type="button" class="submitBtn" onclick="eliminarAdministrador()"
                                value="Eliminar cuenta">
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
    <script>
        function eliminarAdministrador() {
            Swal.fire({
                title: "Estás seguro?",
                text: "La acción no es reversible!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Sí, eliminar cuenta de administrador!",
                cancelButtonText: "Cancelar"
            }).then((result) => {
                if (result.isConfirmed) {
                    fetch('/eliminarCuentaAdmin', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                    })
                    Swal.fire({
                        title: "Usuario eliminado correctamente!",
                        icon: "success"
                    }).then(() => {
                        window.location.href = "/logout";
                    });
                }
            });
        }
        function actualizarAdministrador() {
            Swal.fire({
                title: "Deseas actualizar tus datos?",
                text: "La acción no es reversible!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Actualizar datos!",
                cancelButtonText: "Cancelar"
            }).then((result) => {
                if (result.isConfirmed) {
                    const correo = document.getElementById('correo').value;
                    const telefono = document.getElementById('telefono').value;
                    const contraseña = document.getElementById('contraseña').value;

                    fetch('/actualizarAdmin', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            correo: correo,
                            telefono: telefono,
                            contraseña: contraseña
                        })
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                Swal.fire({
                                    title: "Usuario actualizado!",
                                    icon: "success"
                                }).then(() => {
                                    window.location.href = "/logout";
                                });
                            } else {
                                Swal.fire({
                                    title: "Error al actualizar usuario!",
                                    icon: "error"
                                });
                            }
                        })
                }
            });
        }
    </script>
</body>

</html>